<%- include('partials/header.ejs')%>


    <div class="container">
        <main class="form-signin">
            <div class="card" id='form'>
                <div class="card-header">
                    <h2>Mais 5 mil possiveis placas foram geradas</h2>
                    <div>
                        <p>Para gerar mais placas, o script tem que ser reiniciado e entrar na rota "<a href='/gerar'>/gerar</a>" para as novas placas serem enviadas para o banco de dados.</p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="center-item">
                            <a class="corBotao" href="/">Voltar para pesquisar</a>
                        </div>
                </div>
            </div>
            <div class="center-item">
                <h6 class="footer">@higor</h6>
            </div>
    </div>

    <%- include('partials/footer.ejs')%>