<%- include('partials/header.ejs')%>


    <div class="container">
        <main class="form-signin">
            <div class="card" id='form'>
                <div class="card-header">
                    <h2>Ache a localidade de um veículo</h2>
                    <div>
                        <p>Todas as placas e os estados foram geradas de forma aleatória e para uso experimental.</p>
                    </div>
                </div>
                <div class="card-body">
                    <form method="POST" action='/placa/pesquisa'>
                        <input class="form-control" type='text' name="plateName" placeholder="Digite a placa">
                        <div class="center-item">
                            <button class="corBotao">Pesquisar</button>
                        </div>
                        <div class="center-item">
                            <a href='/gerar'>/gerar</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="center-item">
                <h6 class="footer">@higor</h6>
            </div>
    </div>

    <%- include('partials/footer.ejs')%>