<%- include('partials/header.ejs')%>


    <div class="container">
        <div class="card" id='form'>
            <div class="card-header">
                <h2>Veículo encontrado</h2>
                <div>
                    <p>Todas as placas e os estados foram geradas de forma aleatória e para uso experimental.</p>
                </div>
            </div>
            <div class="card-body">
                <table class=" table table-bordered">
                    <thead>
                        <% value.forEach(plates=>{%>
                            <tr>
                                <th>Placa</th>
                                <th>Cidade</th>
                            </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th>
                                <%= plates.plates %>
                            </th>
                            <th>
                                <%= plates.state %>
                            </th>
                        </tr>
                        <%})%>
                    </tbody>
                </table>
                <div class="center-item">
                    <a href="/" class="corBotao">Voltar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="center-item">
        <h6 class="footer">@higor</h6>
    </div>

    <%- include('partials/footer.ejs')%>